.topbar {
	background-color: #000000;
	color: #fff;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 5px 5px 5px #e1e1e103;
	transition: top 0.5s;
}

.topbar .topbartext {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.topbar nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.topbar nav ul li {
	margin: 0 10px;
}

.topbar nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.4s ease-in-out;
}

.topbar nav ul li a:hover {
	background-color: #e32e4250;
}
.hamburger {
	display: none;
	font-size: 2rem;
}
@media only screen and (max-width: 768px) {
	.hamburger {
		display: block;
		position: sticky;
		text-align: center;
		top: 0;
		left: 1%;
		width: 1.5em;
		height: 5vh;
		color: #e1e1e1;
		background-color: #000000; 
		border-radius: 5px;
		box-shadow: 3px 3px 3px #e1e1e103;
		border: 0px;
		z-index: 999;
	}
	.topbar {
		width: 100%;
		height: 100%;
		left: -100%;
		animation: sidebar-hide 0s linear;
	}
	.topbar .topbartext {
		padding: 0 10px;
	}

	.topbar nav ul {
		flex-direction: column;
		align-items: center;
	}

	.topbar nav ul li {
		margin: 10px 0;
	}
}
@keyframes sidebar-show {
	0% {
		left: -100%;
	}
	100% {
		left: 0%;
	}
}
@keyframes sidebar-hide {
	0% {
		left: 0%;
	}
	100% {
		left: -100%;
	}
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000000;
}
html {
	scroll-behavior: smooth;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2rem;
	animation: color-change 10s linear infinite alternate;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	padding: 1rem;
}

@keyframes background-color-change {
	0% {
		background-color: #e32e42;
	}
	25% {
		background-color: #bd352b;
	}
	50% {
		background-color: #cb7f32;
	}
	75% {
		background-color: #b6312c;
	}
	100% {
		background-color: #ff4f5c;
	}
}
@keyframes shadow-color-change-code {
	0% {
		box-shadow: 5px 5px 5px #e32e422f;
	}
	25% {
		box-shadow: 5px 5px 5px #bd352b3c;
	}
	50% {
		box-shadow: 5px 5px 5px #cb7f322f;
	}
	75% {
		box-shadow: 5px 5px 5px #b6312c3c;
	}
	100% {
		box-shadow: 5px 5px 5px #ff4f5c36;
	}
}
@keyframes border-color-change-code {
	0% {
		border-left: 3px solid #e32e42;
	}
	25% {
		border-left: 3px solid #bd352b;
	}
	50% {
		border-left: 3px solid #cb7f32;
	}
	75% {
		border-left: 3px solid #b6312c;
	}
	100% {
		border-left: 3px solid #ff4f5c;
	}
}
@keyframes color-change {
	0% {
		color: #e32e42;
	}
	25% {
		color: #bd352b;
	}
	50% {
		color: #cb7f32;
	}
	75% {
		color: #b6312c;
	}
	100% {
		color: #ff4f5c;
	}
}
h1 {
	font-size: 4rem;
	color: #444;
	margin-bottom: 20px;
}
h2 {
	font-size: 2rem;
	color: #e1e1e1;
	margin-bottom: 20px;
}
p {
	font-size: 1.2rem;
	color: #e1e1e1;
	line-height: 1.5;
	margin-bottom: 30px;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.2rem;
	background-color: #007bff;
	animation: background-color-change 10s linear infinite alternate;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.2 ease;
}
.card {
	background-color: #e1e1e1;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #888888;
	text-align: left;
}

.card code {
	background-color: rgba(0.4, 0.4, 0.7, 0.2);
	border-left: 3px solid #6d33f3;
	animation: border-color-change-code 10s linear infinite alternate;	
	padding: 5px;
	font-family: monospace;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #6d33f32f;
	animation: shadow-color-change-code 10s linear infinite alternate;	
}
.card h2 {
	font-size: 2rem;
	margin-top: 5px;
	margin-bottom: 20px;
	animation: color-change 10s linear infinite alternate;
}
.card p {
	font-size: 1.2rem;
	color: #000000;
	line-height: 1.5;
	margin-bottom: 30px;
}
.card li {
	color: #000000;
	list-style-type: none;
	font-size: 1rem;
	padding: 8px 0;
	box-shadow: 0px 1px #00000020;
}
.card li:last-child {
	box-shadow: 0px 0px #fff;
}
.license {
	text-decoration: none;
	animation: color-change 10s linear infinite alternate;	
}

.title {
	background-image: url(./header.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

b {
	animation: color-change 10s linear infinite alternate;	
}
